<ng-container *ngIf="post">
  <div [hidden]="!editing">
    <mat-card>
      <mat-form-field>
        <input matInput placeholder="Post title" [(ngModel)]="post.title" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <textarea
          matInput
          placeholder="Post content"
          [(ngModel)]="post.content"
          rows="10"
        ></textarea>
      </mat-form-field>
      <br />
      <button mat-raised-button color="accent" (click)="updatePost()">
        Save
      </button>
      <button mat-button (click)="editing=false" style="margin-left: 5px;">Cancel</button>
    </mat-card>
  </div>
  <div [hidden]="editing">
    <mat-card>
      <img src="{{ post.image }}" alt="post.title" />
      <p>
        Posted by {{ post.author }} &bull;
        {{ post.published.toDate() | date: "dd/MM/yyyy h:mm:ss a" }}
      </p>
      <mat-card-content>
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
      </mat-card-content>
      <mat-card-actions
        align="end"
        *ngIf="authService.currentUserId === post.authorId"
      >
        <button mat-icon-button (click)="editing = true">
          <mat-icon>edit</mat-icon>
          <!-- ligature icon -->
        </button>
        <button mat-icon-button (click)="delete()">
          <mat-icon>delete</mat-icon>
          <!-- ligature icon -->
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
